#contact-form {
    display: flex;
    flex-wrap: wrap;
}
#contact-form .block {
    display: flex;
    flex-direction: column;
}
#contact-form .wide {
    flex-basis: 100%;
}
#contact-form .split {
    flex-basis: 50%;
}
#contact-form button {
    text-align: center;
}

#contact-form > *:has(> label > input[type="radio"]) {
    display: flex;
    flex-wrap: wrap;
}
